@model VistaGL.Modules.Reports.ReportSearchViewModel
@{
    ViewBag.Title = "Index";
}

<!-- general form elements -->
<div class="box box-primary">
    <div class="box-header with-border grid-title">
        <div class="title-text">Budget Variance Information</div>
    </div><!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("Index", "BudgetVarienceInfo", FormMethod.Post, new { @id = "frm" }))
    {
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        <div style="color:Red" class="@Model.ErrMsgClass">
                            @Model.Message<br />
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(model => model.ZoneInfoList, new { @class = "control-label " })
                            <label class="required-field">*</label>
                            &nbsp;&nbsp;<input type="checkbox" id="chkSelectAllZone">&nbsp;Select All Zone&nbsp;
                        </div>
                        @Html.DropDownList("ZoneItem", Model.Zone, "", new { @class = "required ddl col-sm-12", @multiple = "multiple" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Label("Entity", new { @class = "control-label" }) <label class="required-field">*</label>
                        @Html.DropDownListFor(m => m.FundcontrolId, Model.Fundcontrol, "Select One", new { @class = "form-controlForDDL required ddl" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Label("Financial Year", new { @class = "control-label" }) <label class="required-field">*</label>
                        @Html.DropDownListFor(m => m.financialPeriodId, Model.financialPeriod, "Select One", new { @class = "form-controlForDDL required ddl" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Label("Account Head", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.COAId, Model.COAChild, "All", new { @class = "form-controlForDDL ddl" })
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
        <div class="box-footer">
            @Html.HiddenFor(m => m.pZoneName)
            @Html.HiddenFor(m => m.pEntityName)
            @Html.HiddenFor(m => m.pFinancialYear)
            @Html.HiddenFor(m => m.ZoneInfoList)
            <button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-search"></i> Preview</button>
        </div>
        <div class="form-group clearfix">
            <div class="col-md-12 col-lg-12">
                @Html.Partial("BudgetReportsViewer")
            </div>
        </div>
    }
</div><!-- /.box -->

<script type="text/javascript">

    $(function () {
        $(".ddl").select2({
            //
            placeholder: {
                id: '-1', // the value of the option
                text: 'Select One'
            },
            allowClear: true
        });

        $("#chkSelectAllZone").click(function () {
            if ($("#chkSelectAllZone").is(':checked')) {
                $("#ZoneItem > option[value!='']").prop("selected", "selected");
                $("#ZoneItem").trigger("change");
            } else {
                $('#ZoneItem').val(null).trigger('change');

                $('#ZoneItem').select2().select2('val', $("#ZoneInfoList").val().split(','));
            }
        });

        var reportType = $('input[type=radio]:checked').val();
        if (reportType == 'D') {
            $('#divAccountHead').show();
        }

        var _ZoneInfoList = $("#ZoneInfoList").val().split(',');
        $('#ZoneItem').select2().select2('val', _ZoneInfoList);

        $("#btnSubmit").click(function () {
            $("#pEntityName").val($("#FundcontrolId :selected").text());
            $("#pFinancialYear").val($("#financialPeriodId :selected").text());

            var option_ZoneItem = $("#ZoneItem option:selected").map(function () {
                return $(this).text();
            }).get().join(', ');

            $("#pZoneName").val(option_ZoneItem);
            var zone = $('#ZoneItem').val().toString();
            $("#ZoneInfoList").val(zone);

            return fnValidate()
        });

    });

    function divReportHide(el) {
        if ($(el).val() == 'D') {
            $('#divAccountHead').show();
        }
        else {
            $('#divAccountHead').hide();
        }
    }

</script>
