@model VistaGL.Modules.Reports.ReportSearchViewModel
@{
    ViewBag.Title = "Contractor History";
}

<!-- general form elements -->
<div class="box box-primary">
    <div class="box-header with-border grid-title">
        <div class="title-text">Contractor History</div>
    </div><!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("Index", "ContractorHistory", FormMethod.Post, new { id = "frm" }))
    {

        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        <div style="color:Red" class="@Model.ErrMsgClass">
                            @Model.Message<br />
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Label("Entity", new { @class = "control-label" }) <label class="required-field">*</label>
                        @Html.DropDownListFor(m => m.FundcontrolId, Model.Fundcontrol, "Select One", new { @class = "form-controlForDDL required ddl" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Label("Select Sub-Ledger", new { @class = "control-label" }) <label class="required-field">*</label>
                        @Html.DropDownListFor(m => m.CostCenterId, Model.CostCenterList, "Select One", new { @class = "form-controlForDDL required ddl" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("From Date", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FromDate, new { @class = "fixed-rpt-date form-control date" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("To Date", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ToDate, new { @class = "fixed-rpt-date form-control date" })

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-search"></i> Preview</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        &nbsp;
                    </div>
                </div>
            </div>

        </div>
        <div class="box-footer">
            @Html.HiddenFor(m => m.pEntityName)
            @Html.HiddenFor(m => m.pCostCenter)
        </div>
        if (!Model.IsError)
        {
            <div class="form-group clearfix">
                <div class="col-md-12 col-lg-12">
                    @Html.Partial("ReportsViewer")
                </div>
            </div>
            <iframe src="~/ReportViewers/myReportViewer.aspx" width="100%" height="100%" style="border: none; min-height: 1500px;"></iframe>
        }
    }
</div><!-- /.box -->

<script type="text/javascript">
    $(function () {

        $(".ddl").select2({
            //
            placeholder: {
                id: '-1', // the value of the option
                text: 'Select One'
            },
            allowClear: true,
            minimumInputLength: 1
        });

        $(".date").datepicker();
        d = new Date();
        date = d.format("dd-MM-yyyy");
        if ($('#FromDate').val() == '') {
            $('#FromDate').val(date);
            $('#ToDate').val(date);
        }


        $("#btnSubmit").click(function () {
            $("#pEntityName").val($("#FundcontrolId :selected").text());

            return fnValidate()
        });
    });


</script>